@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
/* ------------ GLOBAL VALUES ----------- */
body {
  margin: 0px;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0px;
  color: black;
  z-index: 0;
  background-color: #757575;
  font-size: 25px;
  background-image: url("flag.png");
  background-size: 100%;
  background-attachment: fixed;
}
.image {
  width: 100%;
}
* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.testborder {
  border: 1px solid purple;
}
.column {
  float: left;
  width: 50%;
  padding: 20px;
}
/* ------------ CONTENT WRAPPER ----------- */
.mainContent {
  /*	border:1px solid blue;*/
  width: 100%;
}
.row {
  /*	border:1px solid red;*/
  width: 1280px;
  margin: 0 auto;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* ------------ MAIN NAV ----------- */
.navWrapper {
  background-image: linear-gradient(to left, #D50505, #E1D107);
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
}
.navWrapper a {
  display: inline-block;
  padding: 21px 20px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  -webkit-transition: 0.5s all;
  width: 16.6666%;
}
.navWrapper a:hover {
  color: white;
  background-color: black;
  text-shadow: 0px 0px black;
}
/* ------------ TITLE FORMAT ----------- */
.title {
  font-size: 65px;
  margin: 30px;
  text-align: center;
}
.title2 {
  color: #90d2f5;
  font-size: 100px;
  text-shadow: 1px 1px 1px black;
}
.project {
  background-color: lightgray;
}
.resumetitle {
  color: #90d2f5;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 1px 1px 1px black;
}
.info {
	width:100%;
	background-color:rgba(40,40,40,0.8);
}
